.galleryTitle--layout{
    margin:15px 0;
    text-transform: capitalize;
}

.galleryItem--search-gallery{
    padding: 0.50rem;
}

.filter__container--brand .filterTitle{
    font-size: 0px;
}

.filter__container--brand .filterTitle::before{
    content:"Marcas";
    font-size: 1rem;
}