.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  } 
}

.clearLink{
  text-decoration: none!important;
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.imageStackContainer .imageNormal, .image{
  height: auto!important;
  width: auto!important;
  margin: 0 auto;
}

.element{
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-footer-shelf) .element :global(.vtex-button){
  background-color: #0066b3;
  border-color:#0066b3;
  transition: all .12s linear;
  width:95%;
}

:global(.vtex-flex-layout-0-x-flexCol--bt-whishlist) :global(.vtex-button){
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 95;
  background: rgba(255,255,255,.9);
  width: 50px!important;
}

:global(.vtex-flex-layout-0-x-flexCol--bt-whishlist) :global(.vtex-button):hover{
  border: 1px solid #f00!important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-tab-layout) .element :global(.vtex-button){
    width: 100%;
}

.element :global(.vtex-button) :global(.vtex-button__label){
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-footer-shelf) .element:hover :global(.vtex-button){
  background-color: #0066b3;
  border-color:#0066b3;
}

.imageNormal{
  height: auto!important;
}